{% extends 'backend/dashboard/main.html' %}
{% load static %}
{% block header_resource %}
    
<style>
    tbody td:nth-child(2),
    thead th:nth-child(2) {
        position: sticky;
        left: 0;
        z-index: 1;
        background-color: #f1f1f1;
        /* background-color: #fdf7f7; */
    }
</style>
    {% endblock %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">

    <div class="col-lg-12 grid-margin stretch-card"></div>
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center border-bottom pb-3">
                <h4 class="card-title m-0">Purchase List</h4>
                <a href="{% url 'add_purchase' %}" class="btn btn-primary" 
                   style="height: 40px; width: 200px; display: flex; align-items: center; justify-content: center;">
                    Add New Purchase
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="purchase_table" class="table dataTable table-bordered" style="width:100%">
                    <caption></caption>
                    <th></th>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        var table = $('#purchase_table').DataTable(
            {
                dom: "<'row'<'col-sm-8'l><'col-sm-4'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",

                fixedColumns: {
                    start: 1,
                    end: 1
                },
                scrollCollapse: true,
                scrollX: true,
                scrollY: true,
                ordering: true,
                serverSide: true,
                ajax: {
                    url: '{% url "purchase_list" %}',
                    type: 'POST',  // Change to POST
                    data: function (d) {
                        d.csrfmiddlewaretoken = '{{ csrf_token }}'; // Include CSRF token
                        return d;
                    }
                },


                "columns": [
                    { title: "SL", data: "count", "orderable": true, type: "string" },
                    { title: "Supplier Name", data: "supplier_name", "orderable": true, type: "string" },
                    { title: "Invoice No", data: "invoice_no", "orderable": false, type: "string" },
                    { title: "Medicine Name", data: "medicine_info", "orderable": true, type: "string" },
                    { title: "batch_id", data: "batch_id", "orderable": true, type: "string" },
                    { title: "expire_date", data: "expire_date", "orderable": false, type: "string" },
                    { title: "total_quantity", data: "total_quantity", "orderable": false, type: "string" },
                    { title: "supplier_price", data: "supplier_price", "orderable": false, type: "string" },
                    { title: "total_price", data: "total_price", "orderable": true, type: "string" },
                    { title: "paid_amount", "data": "paid_amount", "orderable": false },
                    { title: "due_amount", "data": "due_amount", "orderable": false },
                    { title: "Action", "data": "action", "orderable": false }

                ],
                "pageLength": 10 // change the page length option to display 50 rows per page
            });

    });


</script>
{% endblock extra_js %}





