{% extends 'backend/dashboard/main.html' %}
{% load static %}

{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">

    <div class="col-lg-12 grid-margin stretch-card"></div>
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center border-bottom pb-3">
                <h4 class="card-title m-0">Payment List</h4>
              <!-- <a href="{% url 'medicine_add' %}" class="btn btn-primary" 
                   style="height: 40px; width: 200px; display: flex; align-items: center; justify-content: center;">
                    Add New Medicine
                </a>  -->
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="payment_table" class="table dataTable table-bordered" style="width:100%">
                    <caption></caption>
                    <th></th>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        var table = $('#payment_table').DataTable(
            {
                dom: "<'row'<'col-sm-8'l><'col-sm-4'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",

                fixedColumns: {
                    start: 1,
                    end: 1
                },
                scrollCollapse: true,
                scrollX: true,
                scrollY: true,
                ordering: true,
                serverSide: true,
                ajax: {
                    url: '{% url "payment_list" %}',
                    type: 'POST',  // Change to POST
                    data: function (d) {
                        d.csrfmiddlewaretoken = '{{ csrf_token }}'; // Include CSRF token
                        return d;
                    }
                },


                "columns": [
                    { title: "SL", data: "count", "orderable": true, type: "string" },
                    { title: "Customer Name", data: "customer_name", "orderable": true, type: "string" },
                    { title: "Invoice No", data: "invoice_number", "orderable": false, type: "string" },
                    { title: "Transaction Type", data: "transaction_type", "orderable": true, type: "string" },
                    { title: "Transaction ID", data: "transaction_id", "orderable": true, type: "string" },
                    { title: "Amount", data: "amount_paid", "orderable": false, type: "string" },
                    { title: "Status", data: "status", "orderable": true, type: "string" },
                ],
                "pageLength": 10 // change the page length option to display 50 rows per page
            });

    });


</script>
{% endblock extra_js %}





