{% extends 'backend/dashboard/main.html' %}
{% load static %}
{% block header_resource %}
    
<style>
    tbody td:nth-child(2),
    thead th:nth-child(2) {
        position: sticky;
        left: 0;
        z-index: 1;
        background-color: #f1f1f1;
        /* background-color: #fdf7f7; */
    }
</style>
    {% endblock %}
{% block content %}

<div class="container-xxl flex-grow-1 container-p-y">

    <div class="col-lg-12 grid-margin stretch-card"></div>
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center border-bottom pb-3">
                <h4 class="card-title m-0">Medicine Details List</h4>
                <a href="{% url 'add_purchase' %}" class="btn btn-primary" 
                   style="height: 40px; width: 200px; display: flex; align-items: center; justify-content: center;">
                    Medicine Purchase
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="medicine_table" class="table dataTable table-bordered" style="width:100%">
                    <caption></caption>
                    <th></th>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block extra_js %}
<script>
    $(document).ready(function () {
        var table = $('#medicine_table').DataTable(
            {
                dom: "<'row'<'col-sm-8'l><'col-sm-4'f>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-5'i><'col-sm-7'p>>",

                fixedColumns: {
                    start: 1,
                    end: 1
                },
                scrollCollapse: true,
                scrollX: true,
                scrollY: true,
                ordering: true,
                serverSide: true,
                ajax: {
                    url: '{% url "medicine_details" %}',
                    type: 'POST',  
                    data: function (d) {
                        d.csrfmiddlewaretoken = '{{ csrf_token }}'; // Include CSRF token
                        return d;
                    }
                },

                "columns": [
                    { title: "SL", data: "count", "orderable": false, type: "string" },
                    { title: "Name", data: "medicine_name", "orderable": false, type: "string" },
                    { title: "Batch", data: "batch", "orderable": false, type: "string" },
                    { title: "Expire Date", data: "expire_date", "orderable": true, type: "string" },
                    { title: "Total Stock", data: "stock", "orderable": true, type: "string" },
                    { title: "Stock Box", data: "stock_box", "orderable": false, type: "string" },
                    { title: "Leaf Price", data: "leaf_price", "orderable": false, type: "string" },
                    { title: "Per Pc Price", data: "per_pc_price", "orderable": false, type: "string" },
                    { title: "Box MRP", data: "box_mrp", "orderable": false, type: "string" },
                    { title: "Supplier Price", data: "supplier_price", "orderable": false, type: "string" },
                    { title: "Box QNT Type", data: "box_quantity", "orderable": false, type: "string" },
                    { title: "Self", data: "self", "orderable": false, type: "string" },
                    { title: "Medicine Category", data: "medicine_category", "orderable": false, type: "string" },
                  
                    { title: "Supplier Name", data: "supplier_name", "orderable": false, type: "string" },
                    // { title: "Status", data: "status", "orderable": true, type: "string" },
                    // { title: "Action", "data": "action", "orderable": false },

                ],
                "pageLength": 10 // change the page length option to display 50 rows per page
            });

    });


</script>
{% endblock extra_js %}





